/* menus of headers */

#rightMenu::-webkit-scrollbar {display:none}
#rightMenu{
	position:fixed;
	right:0;
	bottom:0px;
	border:2px solid #ccc;
	border-right-width: 0;
	border-bottom-width: 0;
    opacity: 0.7;
	border-top-left-radius: 10px;
	/*
	background:#0D2E4C;
	color:#ccc;
	border-bottom-left-radius: 20px;
	max-width:300px;*/
	overflow-x: hidden;
	overflow-y: scroll;
	
	font-size: 14px;
}
#rightMenu ul{
	opacity: 1;
	padding:10px;
	list-style: none;
}

#rightMenu ul li a{
	text-decoration:none;
	color:black;
}

#rightMenu ul li a:hover,
#rightMenu ul li a.cur{
	color:orange;
}


#cli_title{
	width:300px;
	height:30px;
	line-height:30px;
	float:left;
	background:#E3E3E3; /*ac8932*/
	text-align:left;
	color:#6a737d;
	/*border-radius:5px;*/
	margin-bottom:10px;
}
#cli_title b{padding: 8px 10px; 
	cursor:pointer;
}



/* 段落前空几格 */
#rightMenu .indent_1{text-indent: 0em;}
#rightMenu .indent_2{text-indent: 2em;}
#rightMenu .indent_3{text-indent: 4em;}
#rightMenu .indent_4{text-indent: 6em;}
#rightMenu .indent_5{text-indent: 8em;}
#rightMenu .indent_6{text-indent: 10em;}




/* headers: 最多支持2级目录，再细没有意义 */
#main_code h1:after{ content: "H1"; color: #efefef; }
#main_code h1:hover:after{ color: #eaa; }

#main_code h2:after{ content: "H2"; color: #efefef; }
#main_code h2:hover:after{ color: #eaa; }

